# LAB ASSESMENT-1

### IMPORTS

In [1]:
import pandas as pd
import numpy as np

In [52]:
 data = pd.read_csv("my_data.csv")

In [53]:
data

,Roll No,Name,Age,DOB,CGPA,Courses,Graduation Year,Placements,M.Tech/MS,Startup
0,19BCI0876,Akhil,19,23-12-2003,8.45,8.0,2023,Yes,Yes,No
1,20BCE0076,Ram,20,3-10-2002,6.75,7.0,2024,Yes,No,Yes
2,20BDS0957,Rishab,21,2-12-2001,7.16,6.0,2024,Yes,No,No
3,20BDS0294,Sujay,20,02-12-2002,8.02,9.0,2024,No,No,Yes
4,20BCI0805,Atul,19,12-07-2003,9.14,12.0,2024,Yes,Yes,No
5,20BKT0012,Nivas,20,3-1-2002,9.54,6.0,2024,No,No,Yes
6,20BCT0121,Harshil,19,2-06-2003,8.90,5.0,2024,Yes,No,No
7,20BCI0234,Robert,20,23-1-2002,5.56,9.0,2024,No,Yes,Yes
8,20BCE0294,Richard,21,13-09-2001,6.98,8.0,2024,Yes,Yes,Yes
9,20BCE2265,Nicolas,21,17-08-2001,7.23,13.0,2024,No,No,No
10,20BCE2095,Bernard,22,27-10-2000,7.56,6.0,2024,Yes,Yes,No
11,20BCE1067,Steve,20,19-11-2002,6.90,8.0,2024,No,Yes,No
12,20BDS0398,Sanjana,20,12-05-2002,9.30,10.0,2024,Yes,No,Yes
13,20BCT0081,Misha,19,20-09-2003,8.30,12.0,2024,No,No,Yes
14,20BCI0405,Maya,20,19-10-2002,8.75,7.0,2024,No,No,NO
15,20BCI0417,Priya,19,23-07-2003,6.90,7.0,2024,NaN,NaN,NaN
16,19BDS0412,Pragun,21,13-12-2001,NaN,NaN,2023,Yes,Yes,Yes
17,19MIC0020,Telavu,21,12-08-2001,9.78,6.0,2023,Yes,No,No
18,20BCE2075,Karishma,22,10-08-2000,9.67,10.0,2024,NaN,NaN,NaN
19,20BCE1099,Lavanya,20,23-09-2002,8.50,9.0,2024,Yes,No,Yes
20,20BCE2222,Preetha,20,13-11-2002,8.23,9.0,2024,NaN,NaN,NaN
21,20BDS0165,Navya,20,13-11-2002,7.98,10.0,2024,No,Yes,Yes

## DATA MANIPULATION TECHNIQUES

### Insert a column, row, cell

In [54]:
# Insert a column
data.insert(10,"Govt Exams","Yes")

In [55]:
data.shape

(22, 11)

In [56]:
# Insert a Row
df={
    "Roll No":["20BCE0049"],
    "Name":["Samridh"],
    "Age" :[20],
    "DOB":["10-12-2002"],
    "CGPA":[9.95],
    "Courses":[10],
    "Graduation Year":[2024],
    "Placements":["Yes"],
    "M.Tech/MS":["Yes"],
    "Startup":["No"],
    "Govt Exams":["Yes"]
}
new_row = pd.DataFrame(df)
new_row.to_csv('Untiled.csv', mode='a', index=False, header=False)
data = data.append(new_row)

TypeError: 'dict' object is not callable

In [57]:
# Insert a Cell
data.iloc[0,1]="Sahil"

In [58]:
data.shape

(22, 11)

### Delete a Column, Row, Cell

In [59]:
# Delete a Column
data = data.drop("Govt Exams",axis=1)

In [60]:
# Delete a Row
data = data.drop(0,axis=0)

In [61]:
data.shape

(21, 10)

In [62]:
# Delete a Cell
data.iloc[1,2]="NaN"

In [63]:
data.shape

(21, 10)

### Update a Column, Row, Cell

In [64]:
# Update a Column
# arr = ["Yes","No","Yes","No","Yes","Yes","No","Yes","Yes","No","Yes","Yes","No","Yes","Yes","No","Yes","Yes","No","Yes","Yes","No","Yes","Yes"]
data[["Govt Exams"]]="No"

In [65]:
data.shape

(21, 11)

In [66]:
# Update a Row
data.iloc[0]=pd.DataFrame=({
    "Roll No":"19BCI0876",
    "Name":"Sahil Khan"
})

In [67]:
data.shape

(21, 11)

In [68]:
# Update a Cell
data.iloc[0,2]=20

In [69]:
data.shape

(21, 11)

## DATA STATISTICAL TECHNIQUES

In [70]:
data.dtypes

Roll No             object
Name                object
Age                 object
DOB                 object
CGPA               float64
Courses            float64
Graduation Year    float64
Placements          object
M.Tech/MS           object
Startup             object
Govt Exams          object
dtype: object

In [71]:
data.var()

/var/folders/l1/rp1rrpyx24d84x0k_6p7pwgw0000gn/T/ipykernel_48863/445316826.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.var()

CGPA               1.315980
Courses            5.263158
Graduation Year    0.094737
dtype: float64

## DATA PRE-PROCESSING TECHNIQUES

In [72]:
data.dtypes

Roll No             object
Name                object
Age                 object
DOB                 object
CGPA               float64
Courses            float64
Graduation Year    float64
Placements          object
M.Tech/MS           object
Startup             object
Govt Exams          object
dtype: object

In [73]:
data.isnull().sum()

Roll No            0
Name               0
Age                0
DOB                1
CGPA               2
Courses            2
Graduation Year    1
Placements         4
M.Tech/MS          4
Startup            4
Govt Exams         1
dtype: int64

## Imputation Techniques

In [74]:
from sklearn.impute import SimpleImputer
imputer_mode = SimpleImputer(missing_values=np.nan,strategy='most_frequent');
imputer_mean = SimpleImputer(missing_values=np.nan,strategy='mean');
imputer_median = SimpleImputer(missing_values=np.nan,strategy='median');

### FOR MODE DATA

In [75]:
mode_apply = data[["DOB","Placements","M.Tech/MS","Startup","Govt Exams"]]
imputer_mode.fit(mode_apply)
data[["DOB","Placements","M.Tech/MS","Startup","Govt Exams"]] = imputer_mode.transform(mode_apply)

In [76]:
data.isnull().sum()

Roll No            0
Name               0
Age                0
DOB                0
CGPA               2
Courses            2
Graduation Year    1
Placements         0
M.Tech/MS          0
Startup            0
Govt Exams         0
dtype: int64

### FOR MEDIAN DATA

In [78]:
median_apply = data[["CGPA","Courses"]]
imputer_median.fit(median_apply)
data[["CGPA","Courses"]] = imputer_median.transform(median_apply)

In [79]:
data.isnull().sum()

Roll No            0
Name               0
Age                0
DOB                0
CGPA               0
Courses            0
Graduation Year    1
Placements         0
M.Tech/MS          0
Startup            0
Govt Exams         0
dtype: int64

### FOR MEAN DATA

In [82]:
mean_apply = data[["Graduation Year"]]
imputer_mean.fit(mean_apply)
data[["Graduation Year"]] = imputer_mean.transform(mean_apply)

In [83]:
data.isnull().sum()

Roll No            0
Name               0
Age                0
DOB                0
CGPA               0
Courses            0
Graduation Year    0
Placements         0
M.Tech/MS          0
Startup            0
Govt Exams         0
dtype: int64

In [84]:
# Since Age has a NAN value
data = data.drop(2,axis=0)

In [85]:
data.shape

(20, 11)

## APPLYING ENCODING TECHNIQUES

### Ordinal to categorical

In [95]:
# One-hot Encoding (As there's no perfect way to do ione-hot encoding in this dataset)
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
# enc.fit(X)
data.shape

(20, 11)

### Binary Encoding

In [87]:
data["Placements"] = data["Placements"].apply(lambda row : 1 if row=='Yes' else 0)
data["Govt Exams"] = data["Govt Exams"].apply(lambda row : 1 if row=='Yes' else 0)
data["Startup"] = data["Startup"].apply(lambda row : 1 if row=='Yes' else 0)
data["M.Tech/MS"]= data["M.Tech/MS"].apply(lambda row : 1 if row == 'Yes' else 0)

### Text to Numeric

In [91]:
data["Graduation Year"] = data["Graduation Year"].apply(pd.to_numeric)
data["Placements"] = data["Placements"].apply(pd.to_numeric)
data["Startup"] = data["Startup"].apply(pd.to_numeric)
data["M.Tech/MS"] = data["M.Tech/MS"].apply(pd.to_numeric)
data["Govt Exams"] = data["Govt Exams"].apply(pd.to_numeric)
data["Courses"] = data["Courses"].apply(pd.to_numeric)
data["Age"] = data["Age"].apply(pd.to_numeric)

In [98]:
data.shape

(20, 11)

## NORMALIZATION TECHNIQUES

### Min-Max Scalar

In [121]:
X = data.drop(["Roll No","Name","DOB",'M.Tech/MS','Startup', 'Govt Exams'],axis=1)
y = data[["CGPA"]]
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y , test_size=0.33, random_state=42)

In [122]:
X_train.columns

Index(['Age', 'CGPA', 'Courses', 'Graduation Year', 'Placements'], dtype='object')

In [123]:
from sklearn.preprocessing import MinMaxScaler
norm = MinMaxScaler().fit(X_train)
X_train_norm = norm.transform(X_train)
X_test_norm = norm.transform(X_test)

In [124]:
X_test_norm

array([[ 0.33333333,  0.4801444 ,  0.5       ,  0.9       ,  1.        ],
       [ 0.33333333,  0.57761733,  0.5       ,  1.        ,  1.        ],
       [ 0.66666667,  1.03971119,  0.125     ,  0.        ,  1.        ],
       [ 0.33333333,  0.40433213,  0.5       ,  1.        ,  0.        ],
       [ 1.        ,  0.23826715,  0.125     ,  1.        ,  1.        ],
       [ 0.33333333, -0.48375451,  0.5       ,  1.        ,  0.        ],
       [ 0.        ,  0.50541516,  0.875     ,  1.        ,  0.        ]])

### Standard Scalar

In [125]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_X = sc_X.fit_transform(X_train)

In [126]:
sc_X

array([[-0.17817416,  1.27123032, -1.26491106,  0.28867513, -1.26491106],
       [-0.17817416, -0.05938138,  0.10540926,  0.28867513,  0.79056942],
       [ 2.13808994,  1.40327575,  0.5621827 ,  0.28867513,  0.79056942],
       [-1.33630621, -1.41030776, -0.80813762,  0.28867513,  0.79056942],
       [-1.33630621,  0.86493667,  1.47572957,  0.28867513,  0.79056942],
       [-0.17817416, -1.41030776, -0.35136418,  0.28867513, -1.26491106],
       [-0.17817416, -0.31331491,  0.5621827 ,  0.28867513, -1.26491106],
       [-1.33630621,  0.62116048, -1.7216845 ,  0.28867513,  0.79056942],
       [-0.17817416,  0.46880036, -0.80813762,  0.28867513, -1.26491106],
       [ 0.97995789, -1.0751155 ,  1.93250301,  0.28867513, -1.26491106],
       [-0.17817416,  1.02745413,  0.5621827 ,  0.28867513,  0.79056942],
       [ 0.97995789, -0.05938138,  0.10540926, -3.46410162,  0.79056942],
       [ 0.97995789, -1.32904903, -0.35136418,  0.28867513,  0.79056942]])